{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-24",
    "endpointPrefix":"api.sagemaker",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"SageMaker",
    "serviceFullName":"Amazon SageMaker Service",
    "serviceId":"SageMaker",
    "signatureVersion":"v4",
    "signingName":"sagemaker",
    "targetPrefix":"SageMaker",
    "uid":"sagemaker-2017-07-24"
  },
  "operations":{
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsInput"},
      "output":{"shape":"AddTagsOutput"},
      "documentation":"<p>Adds or overwrites one or more tags for the specified Amazon SageMaker resource. You can add tags to notebook instances, training jobs, models, endpoint configurations, and endpoints. </p> <p>Each tag consists of a key and an optional value. Tag keys must be unique per resource. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
    },
    "AssociateTrialComponent":{
      "name":"AssociateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateTrialComponentRequest"},
      "output":{"shape":"AssociateTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "BatchGetMetrics":{
      "name":"BatchGetMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetMetricsRequest"},
      "output":{"shape":"BatchGetMetricsResponse"}
    },
    "CreateAlgorithm":{
      "name":"CreateAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAlgorithmInput"},
      "output":{"shape":"CreateAlgorithmOutput"}
    },
    "CreateCodeRepository":{
      "name":"CreateCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCodeRepositoryInput"},
      "output":{"shape":"CreateCodeRepositoryOutput"}
    },
    "CreateCompilationJob":{
      "name":"CreateCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCompilationJobRequest"},
      "output":{"shape":"CreateCompilationJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointInput"},
      "output":{"shape":"CreateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Creates an endpoint using the endpoint configuration specified in the request. Amazon SageMaker uses the endpoint to provision resources and deploy models. You create the endpoint configuration with the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpointConfig.html\">CreateEndpointConfig</a> API. </p> <note> <p> Use this API only for hosting models using Amazon SageMaker hosting services. </p> </note> <p>The endpoint name must be unique within an AWS Region in your AWS account. </p> <p>When it receives the request, Amazon SageMaker creates the endpoint, launches the resources (ML compute instances), and deploys the model(s) on them. </p> <p>When Amazon SageMaker receives the request, it sets the endpoint status to <code>Creating</code>. After it creates the endpoint, it sets the status to <code>InService</code>. Amazon SageMaker can then process incoming requests for inferences. To check the status of an endpoint, use the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API.</p> <p>For an example, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/ex1.html\">Exercise 1: Using the K-Means Algorithm Provided by Amazon SageMaker</a>. </p>"
    },
    "CreateEndpointConfig":{
      "name":"CreateEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointConfigInput"},
      "output":{"shape":"CreateEndpointConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Creates an endpoint configuration that Amazon SageMaker hosting services uses to deploy models. In the configuration, you identify one or more models, created using the <code>CreateModel</code> API, to deploy and the resources that you want Amazon SageMaker to provision. Then you call the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html\">CreateEndpoint</a> API. </p> <note> <p> Use this API only if you want to use Amazon SageMaker hosting services to deploy models into production. </p> </note> <p>In the request, you define one or more <code>ProductionVariant</code>s, each of which identifies a model. Each <code>ProductionVariant</code> parameter also describes the resources that you want Amazon SageMaker to provision. This includes the number and type of ML compute instances to deploy. </p> <p>If you are hosting multiple models, you also assign a <code>VariantWeight</code> to specify how much traffic you want to allocate to each model. For example, suppose that you want to host two models, A and B, and you assign traffic weight 2 for model A and 1 for model B. Amazon SageMaker distributes two-thirds of the traffic to Model A, and one-third to model B. </p>"
    },
    "CreateExperiment":{
      "name":"CreateExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateExperimentRequest"},
      "output":{"shape":"CreateExperimentResponse"}
    },
    "CreateHyperParameterTuningJob":{
      "name":"CreateHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHyperParameterTuningJobRequest"},
      "output":{"shape":"CreateHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateLabelingJob":{
      "name":"CreateLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLabelingJobRequest"},
      "output":{"shape":"CreateLabelingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateModel":{
      "name":"CreateModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelInput"},
      "output":{"shape":"CreateModelOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Creates a model in Amazon SageMaker. In the request, you name the model and describe one or more containers. For each container, you specify the docker image containing inference code, artifacts (from prior training), and custom environment map that the inference code uses when you deploy the model into production. </p> <p>Use this API to create a model only if you want to use Amazon SageMaker hosting services. To host your model, you create an endpoint configuration with the <code>CreateEndpointConfig</code> API, and then create an endpoint with the <code>CreateEndpoint</code> API. </p> <p>Amazon SageMaker then deploys all of the containers that you defined for the model in the hosting environment. </p> <p>In the <code>CreateModel</code> request, you must define a container with the <code>PrimaryContainer</code> parameter. </p> <p>In the request, you also provide an IAM role that Amazon SageMaker can assume to access model artifacts and docker image for deployment on ML compute hosting instances. In addition, you also use the IAM role to manage permissions the inference code needs. For example, if the inference code access any other AWS resources, you grant necessary permissions via this role.</p>"
    },
    "CreateModelPackage":{
      "name":"CreateModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelPackageInput"},
      "output":{"shape":"CreateModelPackageOutput"}
    },
    "CreateNotebookInstance":{
      "name":"CreateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceInput"},
      "output":{"shape":"CreateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Creates an Amazon SageMaker notebook instance. A notebook instance is an ML compute instance running on a Jupyter notebook. </p> <p>In a <code>CreateNotebookInstance</code> request, you specify the type of ML compute instance that you want to run. Amazon SageMaker launches the instance, installs common libraries that you can use to explore datasets for model training, and attaches an ML storage volume to the notebook instance. </p> <p>Amazon SageMaker also provides a set of example notebooks. Each notebook demonstrates how to use Amazon SageMaker with a specific an algorithm or with a machine learning framework. </p> <p>After receiving the request, Amazon SageMaker does the following:</p> <ol> <li> <p>Creates a network interface in the Amazon SageMaker VPC.</p> </li> <li> <p>(Option) If you specified <code>SubnetId</code>, creates a network interface in your own VPC, which is inferred from the subnet ID that you provide in the input. When creating this network interface, Amazon SageMaker attaches the security group that you specified in the request to the network interface that it creates in your VPC.</p> </li> <li> <p>Launches an EC2 instance of the type specified in the request in the Amazon SageMaker VPC. If you specified <code>SubnetId</code> of your VPC, Amazon SageMaker specifies both network interfaces when launching this instance. This enables inbound traffic from your own VPC to the notebook instance, assuming that the security groups allow it.</p> </li> </ol> <p>After creating the notebook instance, Amazon SageMaker returns its Amazon Resource Name (ARN).</p> <p>After Amazon SageMaker creates the notebook instance, you can connect to the Jupyter server and work in Jupyter notebooks. For example, you can write code to explore a dataset that you can use for model training, train a model, host models by creating Amazon SageMaker endpoints, and validate hosted models. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>"
    },
    "CreateNotebookInstanceLifecycleConfig":{
      "name":"CreateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"CreateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreatePresignedNotebookInstanceUrl":{
      "name":"CreatePresignedNotebookInstanceUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedNotebookInstanceUrlInput"},
      "output":{"shape":"CreatePresignedNotebookInstanceUrlOutput"},
      "documentation":"<p>Returns a URL that you can use to connect to the Juypter server from a notebook instance. In the Amazon SageMaker console, when you choose <code>Open</code> next to a notebook instance, Amazon SageMaker opens a new tab showing the Jupyter server home page from the notebook instance. The console uses this API to get the URL and show the page. </p>"
    },
    "CreateTrainingJob":{
      "name":"CreateTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrainingJobRequest"},
      "output":{"shape":"CreateTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p> Starts a model training job. After training completes, Amazon SageMaker saves the resulting model artifacts to an Amazon S3 location that you specify. </p> <p>If you choose to host your model using Amazon SageMaker hosting services, you can use the resulting model artifacts as part of the model. You can also use the artifacts in a deep learning service other than Amazon SageMaker, provided that you know how to use them for inferences. </p> <p>In the request body, you provide the following: </p> <ul> <li> <p> <code>AlgorithmSpecification</code> - Identifies the training algorithm to use. </p> </li> <li> <p> <code>HyperParameters</code> - Specify these algorithm-specific parameters to influence the quality of the final model. For a list of hyperparameters for each training algorithm provided by Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. </p> </li> <li> <p> <code>InputDataConfig</code> - Describes the training dataset and the Amazon S3 location where it is stored.</p> </li> <li> <p> <code>OutputDataConfig</code> - Identifies the Amazon S3 location where you want Amazon SageMaker to save the results of model training. </p> <p/> </li> <li> <p> <code>ResourceConfig</code> - Identifies the resources, ML compute instances, and ML storage volumes to deploy for model training. In distributed training, you specify more than one instance. </p> </li> <li> <p> <code>RoleARN</code> - The Amazon Resource Number (ARN) that Amazon SageMaker assumes to perform tasks on your behalf during model training. You must grant this role the necessary permissions so that Amazon SageMaker can successfully complete model training. </p> </li> <li> <p> <code>StoppingCondition</code> - Sets a duration for training. Use this parameter to cap model training costs. </p> </li> </ul> <p> For more information about Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>"
    },
    "CreateTransformJob":{
      "name":"CreateTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransformJobRequest"},
      "output":{"shape":"CreateTransformJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreateTrial":{
      "name":"CreateTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrialRequest"},
      "output":{"shape":"CreateTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreateTrialComponent":{
      "name":"CreateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrialComponentRequest"},
      "output":{"shape":"CreateTrialComponentResponse"}
    },
    "CreateWorkteam":{
      "name":"CreateWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkteamRequest"},
      "output":{"shape":"CreateWorkteamResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DeleteAlgorithm":{
      "name":"DeleteAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAlgorithmInput"}
    },
    "DeleteCodeRepository":{
      "name":"DeleteCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCodeRepositoryInput"}
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointInput"},
      "documentation":"<p>Deletes an endpoint. Amazon SageMaker frees up all of the resources that were deployed when the endpoint was created. </p>"
    },
    "DeleteEndpointConfig":{
      "name":"DeleteEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointConfigInput"},
      "documentation":"<p>Deletes an endpoint configuration. The <code>DeleteEndpoingConfig</code> API deletes only the specified configuration. It does not delete endpoints created using the configuration. </p>"
    },
    "DeleteExperiment":{
      "name":"DeleteExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteExperimentRequest"},
      "output":{"shape":"DeleteExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteModel":{
      "name":"DeleteModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelInput"},
      "documentation":"<p>Deletes a model. The <code>DeleteModel</code> API deletes only the model entry that was created in Amazon SageMaker when you called the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateModel.html\">CreateModel</a> API. It does not delete model artifacts, inference code, or the IAM role that you specified when creating the model. </p>"
    },
    "DeleteModelPackage":{
      "name":"DeleteModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelPackageInput"}
    },
    "DeleteNotebookInstance":{
      "name":"DeleteNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceInput"},
      "documentation":"<p> Deletes an Amazon SageMaker notebook instance. Before you can delete a notebook instance, you must call the <code>StopNotebookInstance</code> API. </p> <important> <p>When you delete a notebook instance, you lose all of your data. Amazon SageMaker removes the ML compute instance, and deletes the ML storage volume and the network interface associated with the notebook instance. </p> </important>"
    },
    "DeleteNotebookInstanceLifecycleConfig":{
      "name":"DeleteNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceLifecycleConfigInput"}
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsInput"},
      "output":{"shape":"DeleteTagsOutput"},
      "documentation":"<p>Deletes the specified tags from an Amazon SageMaker resource.</p> <p>To list a resource's tags, use the <code>ListTags</code> API. </p>"
    },
    "DeleteTrial":{
      "name":"DeleteTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrialRequest"},
      "output":{"shape":"DeleteTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteTrialComponent":{
      "name":"DeleteTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrialComponentRequest"},
      "output":{"shape":"DeleteTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteWorkteam":{
      "name":"DeleteWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkteamRequest"},
      "output":{"shape":"DeleteWorkteamResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DescribeAlgorithm":{
      "name":"DescribeAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAlgorithmInput"},
      "output":{"shape":"DescribeAlgorithmOutput"}
    },
    "DescribeCodeRepository":{
      "name":"DescribeCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCodeRepositoryInput"},
      "output":{"shape":"DescribeCodeRepositoryOutput"}
    },
    "DescribeCompilationJob":{
      "name":"DescribeCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCompilationJobRequest"},
      "output":{"shape":"DescribeCompilationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointInput"},
      "output":{"shape":"DescribeEndpointOutput"},
      "documentation":"<p>Returns the description of an endpoint.</p>"
    },
    "DescribeEndpointConfig":{
      "name":"DescribeEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointConfigInput"},
      "output":{"shape":"DescribeEndpointConfigOutput"},
      "documentation":"<p>Returns the description of an endpoint configuration created using the <code>CreateEndpointConfig</code> API.</p>"
    },
    "DescribeExperiment":{
      "name":"DescribeExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeExperimentRequest"},
      "output":{"shape":"DescribeExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeHyperParameterTuningJob":{
      "name":"DescribeHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHyperParameterTuningJobRequest"},
      "output":{"shape":"DescribeHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeLabelingJob":{
      "name":"DescribeLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLabelingJobRequest"},
      "output":{"shape":"DescribeLabelingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeModel":{
      "name":"DescribeModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelInput"},
      "output":{"shape":"DescribeModelOutput"},
      "documentation":"<p>Describes a model that you created using the <code>CreateModel</code> API.</p>"
    },
    "DescribeModelPackage":{
      "name":"DescribeModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelPackageInput"},
      "output":{"shape":"DescribeModelPackageOutput"}
    },
    "DescribeNotebookInstance":{
      "name":"DescribeNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceInput"},
      "output":{"shape":"DescribeNotebookInstanceOutput"},
      "documentation":"<p>Returns information about a notebook instance.</p>"
    },
    "DescribeNotebookInstanceLifecycleConfig":{
      "name":"DescribeNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"DescribeNotebookInstanceLifecycleConfigOutput"}
    },
    "DescribeSubscribedWorkteam":{
      "name":"DescribeSubscribedWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSubscribedWorkteamRequest"},
      "output":{"shape":"DescribeSubscribedWorkteamResponse"}
    },
    "DescribeTrainingJob":{
      "name":"DescribeTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrainingJobRequest"},
      "output":{"shape":"DescribeTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p>Returns information about a training job.</p>"
    },
    "DescribeTransformJob":{
      "name":"DescribeTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransformJobRequest"},
      "output":{"shape":"DescribeTransformJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTrial":{
      "name":"DescribeTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrialRequest"},
      "output":{"shape":"DescribeTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTrialComponent":{
      "name":"DescribeTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrialComponentRequest"},
      "output":{"shape":"DescribeTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeWorkteam":{
      "name":"DescribeWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkteamRequest"},
      "output":{"shape":"DescribeWorkteamResponse"}
    },
    "DisassociateTrialComponent":{
      "name":"DisassociateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateTrialComponentRequest"},
      "output":{"shape":"DisassociateTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "GetSearchSuggestions":{
      "name":"GetSearchSuggestions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSearchSuggestionsRequest"},
      "output":{"shape":"GetSearchSuggestionsResponse"}
    },
    "ListAlgorithms":{
      "name":"ListAlgorithms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAlgorithmsInput"},
      "output":{"shape":"ListAlgorithmsOutput"}
    },
    "ListCodeRepositories":{
      "name":"ListCodeRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCodeRepositoriesInput"},
      "output":{"shape":"ListCodeRepositoriesOutput"}
    },
    "ListCompilationJobs":{
      "name":"ListCompilationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCompilationJobsRequest"},
      "output":{"shape":"ListCompilationJobsResponse"}
    },
    "ListEndpointConfigs":{
      "name":"ListEndpointConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointConfigsInput"},
      "output":{"shape":"ListEndpointConfigsOutput"},
      "documentation":"<p>Lists endpoint configurations.</p>"
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsInput"},
      "output":{"shape":"ListEndpointsOutput"},
      "documentation":"<p>Lists endpoints.</p>"
    },
    "ListExperiments":{
      "name":"ListExperiments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListExperimentsRequest"},
      "output":{"shape":"ListExperimentsResponse"}
    },
    "ListHyperParameterTuningJobs":{
      "name":"ListHyperParameterTuningJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHyperParameterTuningJobsRequest"},
      "output":{"shape":"ListHyperParameterTuningJobsResponse"}
    },
    "ListLabelingJobs":{
      "name":"ListLabelingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLabelingJobsRequest"},
      "output":{"shape":"ListLabelingJobsResponse"}
    },
    "ListLabelingJobsForWorkteam":{
      "name":"ListLabelingJobsForWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLabelingJobsForWorkteamRequest"},
      "output":{"shape":"ListLabelingJobsForWorkteamResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListModelPackages":{
      "name":"ListModelPackages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelPackagesInput"},
      "output":{"shape":"ListModelPackagesOutput"}
    },
    "ListModels":{
      "name":"ListModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelsInput"},
      "output":{"shape":"ListModelsOutput"},
      "documentation":"<p>Lists models created with the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateModel.html\">CreateModel</a> API.</p>"
    },
    "ListNotebookInstanceLifecycleConfigs":{
      "name":"ListNotebookInstanceLifecycleConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstanceLifecycleConfigsInput"},
      "output":{"shape":"ListNotebookInstanceLifecycleConfigsOutput"}
    },
    "ListNotebookInstances":{
      "name":"ListNotebookInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstancesInput"},
      "output":{"shape":"ListNotebookInstancesOutput"},
      "documentation":"<p>Returns a list of the Amazon SageMaker notebook instances in the requester's account in an AWS Region. </p>"
    },
    "ListSubscribedWorkteams":{
      "name":"ListSubscribedWorkteams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSubscribedWorkteamsRequest"},
      "output":{"shape":"ListSubscribedWorkteamsResponse"}
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsInput"},
      "output":{"shape":"ListTagsOutput"},
      "documentation":"<p>Returns the tags for the specified Amazon SageMaker resource.</p>"
    },
    "ListTrainingJobs":{
      "name":"ListTrainingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsRequest"},
      "output":{"shape":"ListTrainingJobsResponse"},
      "documentation":"<p>Lists training jobs.</p>"
    },
    "ListTrainingJobsForHyperParameterTuningJob":{
      "name":"ListTrainingJobsForHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsForHyperParameterTuningJobRequest"},
      "output":{"shape":"ListTrainingJobsForHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListTransformJobs":{
      "name":"ListTransformJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTransformJobsRequest"},
      "output":{"shape":"ListTransformJobsResponse"}
    },
    "ListTrialComponents":{
      "name":"ListTrialComponents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrialComponentsRequest"},
      "output":{"shape":"ListTrialComponentsResponse"}
    },
    "ListTrials":{
      "name":"ListTrials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrialsRequest"},
      "output":{"shape":"ListTrialsResponse"}
    },
    "ListWorkteams":{
      "name":"ListWorkteams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorkteamsRequest"},
      "output":{"shape":"ListWorkteamsResponse"}
    },
    "RenderUiTemplate":{
      "name":"RenderUiTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RenderUiTemplateRequest"},
      "output":{"shape":"RenderUiTemplateResponse"}
    },
    "Search":{
      "name":"Search",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchRequest"},
      "output":{"shape":"SearchResponse"}
    },
    "StartNotebookInstance":{
      "name":"StartNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartNotebookInstanceInput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Launches an ML compute instance with the latest version of the libraries and attaches your ML storage volume. After configuring the notebook instance, Amazon SageMaker sets the notebook instance status to <code>InService</code>. A notebook instance's status must be <code>InService</code> before you can connect to your Jupyter notebook. </p>"
    },
    "StopCompilationJob":{
      "name":"StopCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopCompilationJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopHyperParameterTuningJob":{
      "name":"StopHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopHyperParameterTuningJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopLabelingJob":{
      "name":"StopLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopLabelingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopNotebookInstance":{
      "name":"StopNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopNotebookInstanceInput"},
      "documentation":"<p>Terminates the ML compute instance. Before terminating the instance, Amazon SageMaker disconnects the ML storage volume from it. Amazon SageMaker preserves the ML storage volume. </p> <p>To access data on the ML storage volume for a notebook instance that has been terminated, call the <code>StartNotebookInstance</code> API. <code>StartNotebookInstance</code> launches another ML compute instance, configures it, and attaches the preserved ML storage volume so you can continue your work. </p>"
    },
    "StopTrainingJob":{
      "name":"StopTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p>Stops a training job. To stop a job, Amazon SageMaker sends the algorithm the <code>SIGTERM</code> signal, which delays job termination for 120 seconds. Algorithms might use this 120-second window to save the model artifacts, so the results of the training is not lost. </p> <p>Training algorithms provided by Amazon SageMaker save the intermediate results of a model training job. This intermediate data is a valid model artifact. You can use the model artifacts that are saved when Amazon SageMaker stops a training job to create a model. </p> <p>When it receives a <code>StopTrainingJob</code> request, Amazon SageMaker changes the status of the job to <code>Stopping</code>. After Amazon SageMaker stops the job, it sets the status to <code>Stopped</code>.</p>"
    },
    "StopTransformJob":{
      "name":"StopTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTransformJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateCodeRepository":{
      "name":"UpdateCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCodeRepositoryInput"},
      "output":{"shape":"UpdateCodeRepositoryOutput"}
    },
    "UpdateEndpoint":{
      "name":"UpdateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointInput"},
      "output":{"shape":"UpdateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p> Deploys the new <code>EndpointConfig</code> specified in the request, switches to using newly created endpoint, and then deletes resources provisioned for the endpoint using the previous <code>EndpointConfig</code> (there is no availability loss). </p> <p>When Amazon SageMaker receives the request, it sets the endpoint status to <code>Updating</code>. After updating the endpoint, it sets the status to <code>InService</code>. To check the status of an endpoint, use the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API. </p>"
    },
    "UpdateEndpointWeightsAndCapacities":{
      "name":"UpdateEndpointWeightsAndCapacities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointWeightsAndCapacitiesInput"},
      "output":{"shape":"UpdateEndpointWeightsAndCapacitiesOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Updates variant weight, capacity, or both of one or more variants associated with an endpoint. This operation updates weight, capacity, or both for the previously provisioned endpoint. When it receives the request, Amazon SageMaker sets the endpoint status to <code>Updating</code>. After updating the endpoint, it sets the status to <code>InService</code>. To check the status of an endpoint, use the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API. </p>"
    },
    "UpdateExperiment":{
      "name":"UpdateExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateExperimentRequest"},
      "output":{"shape":"UpdateExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateNotebookInstance":{
      "name":"UpdateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceInput"},
      "output":{"shape":"UpdateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Updates a notebook instance. NotebookInstance updates include upgrading or downgrading the ML compute instance used for your notebook instance to accommodate changes in your workload requirements. You can also update the VPC security groups.</p>"
    },
    "UpdateNotebookInstanceLifecycleConfig":{
      "name":"UpdateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"UpdateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateTrial":{
      "name":"UpdateTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTrialRequest"},
      "output":{"shape":"UpdateTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateTrialComponent":{
      "name":"UpdateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTrialComponentRequest"},
      "output":{"shape":"UpdateTrialComponentResponse"},
      "errors":[
        {"shape":"TrialComponentConcurrentModificationException"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateWorkteam":{
      "name":"UpdateWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkteamRequest"},
      "output":{"shape":"UpdateWorkteamResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    }
  },
  "shapes":{
    "Accept":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "AccountId":{
      "type":"string",
      "pattern":"^\\d+$"
    },
    "AddTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>"
        }
      }
    },
    "AddTagsOutput":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags associated with the Amazon SageMaker resource.</p>"
        }
      }
    },
    "AdditionalCodeRepositoryNamesOrUrls":{
      "type":"list",
      "member":{"shape":"CodeRepositoryNameOrUrl"},
      "max":3
    },
    "AlgorithmArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:algorithm/.*"
    },
    "AlgorithmImage":{
      "type":"string",
      "max":255,
      "pattern":".*"
    },
    "AlgorithmSortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime"
      ]
    },
    "AlgorithmSpecification":{
      "type":"structure",
      "required":["TrainingInputMode"],
      "members":{
        "TrainingImage":{
          "shape":"AlgorithmImage",
          "documentation":"<p>The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>. </p>"
        },
        "AlgorithmName":{"shape":"ArnOrName"},
        "TrainingInputMode":{
          "shape":"TrainingInputMode",
          "documentation":"<p>The input mode that the algorithm supports. For the input modes that Amazon SageMaker algorithms support, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. If an algorithm supports the <code>File</code> input mode, Amazon SageMaker downloads the training data from S3 to the provisioned ML storage Volume, and mounts the directory to docker volume for training container. If an algorithm supports the <code>Pipe</code> input mode, Amazon SageMaker streams data directly from S3 to the container. </p> <p> In File mode, make sure you provision ML storage volume with sufficient capacity to accomodate the data download from S3. In addition to the training data, the ML storage volume also stores the output model. The algorithm container use ML storage volume to also store intermediate information, if any. </p> <p> For distributed algorithms using File mode, training data is distributed uniformly, and your training duration is predictable if the input data objects size is approximately same. Amazon SageMaker does not split the files any further for model training. If the object sizes are skewed, training won't be optimal as the data distribution is also skewed where one host in a training cluster is overloaded, thus becoming bottleneck in training. </p>"
        },
        "MetricDefinitions":{"shape":"MetricDefinitionList"}
      },
      "documentation":"<p>Specifies the training algorithm to use in a <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateTrainingJob.html\">CreateTrainingJob</a> request. </p> <p>For more information about algorithms provided by Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. For information about using your own algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/adv-topics-own-algo.html\">Bring Your Own Algorithms </a>. </p>"
    },
    "AlgorithmStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Completed",
        "Failed",
        "Deleting"
      ]
    },
    "AlgorithmStatusDetails":{
      "type":"structure",
      "members":{
        "ValidationStatuses":{"shape":"AlgorithmStatusItemList"},
        "ImageScanStatuses":{"shape":"AlgorithmStatusItemList"}
      }
    },
    "AlgorithmStatusItem":{
      "type":"structure",
      "required":[
        "Name",
        "Status"
      ],
      "members":{
        "Name":{"shape":"EntityName"},
        "Status":{"shape":"DetailedAlgorithmStatus"},
        "FailureReason":{"shape":"String"}
      }
    },
    "AlgorithmStatusItemList":{
      "type":"list",
      "member":{"shape":"AlgorithmStatusItem"}
    },
    "AlgorithmSummary":{
      "type":"structure",
      "required":[
        "AlgorithmName",
        "AlgorithmArn",
        "CreationTime",
        "AlgorithmStatus"
      ],
      "members":{
        "AlgorithmName":{"shape":"EntityName"},
        "AlgorithmArn":{"shape":"AlgorithmArn"},
        "AlgorithmDescription":{"shape":"EntityDescription"},
        "CreationTime":{"shape":"CreationTime"},
        "AlgorithmStatus":{"shape":"AlgorithmStatus"}
      }
    },
    "AlgorithmSummaryList":{
      "type":"list",
      "member":{"shape":"AlgorithmSummary"}
    },
    "AlgorithmValidationProfile":{
      "type":"structure",
      "required":[
        "ProfileName",
        "TrainingJobDefinition"
      ],
      "members":{
        "ProfileName":{"shape":"EntityName"},
        "TrainingJobDefinition":{"shape":"TrainingJobDefinition"},
        "TransformJobDefinition":{"shape":"TransformJobDefinition"}
      }
    },
    "AlgorithmValidationProfiles":{
      "type":"list",
      "member":{"shape":"AlgorithmValidationProfile"},
      "max":1,
      "min":1
    },
    "AlgorithmValidationSpecification":{
      "type":"structure",
      "required":[
        "ValidationRole",
        "ValidationProfiles"
      ],
      "members":{
        "ValidationRole":{"shape":"RoleArn"},
        "ValidationProfiles":{"shape":"AlgorithmValidationProfiles"}
      }
    },
    "AnnotationConsolidationConfig":{
      "type":"structure",
      "required":["AnnotationConsolidationLambdaArn"],
      "members":{
        "AnnotationConsolidationLambdaArn":{"shape":"LambdaFunctionArn"}
      }
    },
    "ArnOrName":{
      "type":"string",
      "max":170,
      "min":1,
      "pattern":"(arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:[a-z\\-]*\\/)?([a-zA-Z0-9]([a-zA-Z0-9-]){0,62})(?<!-)$"
    },
    "AssemblyType":{
      "type":"string",
      "enum":[
        "None",
        "Line"
      ]
    },
    "AssociateTrialComponentRequest":{
      "type":"structure",
      "required":[
        "TrialComponentName",
        "TrialName"
      ],
      "members":{
        "TrialComponentName":{"shape":"ExperimentEntityName"},
        "TrialName":{"shape":"ExperimentEntityName"}
      }
    },
    "AssociateTrialComponentResponse":{
      "type":"structure",
      "members":{
        "TrialComponentArn":{"shape":"TrialComponentArn"},
        "TrialArn":{"shape":"TrialArn"}
      }
    },
    "AttributeName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":".+"
    },
    "AttributeNames":{
      "type":"list",
      "member":{"shape":"AttributeName"},
      "max":16
    },
    "BatchGetMetricsRequest":{
      "type":"structure",
      "required":["MetricQueries"],
      "members":{
        "MetricQueries":{"shape":"MetricQueryList"}
      }
    },
    "BatchGetMetricsResponse":{
      "type":"structure",
      "members":{
        "MetricQueryResults":{"shape":"MetricQueryResultList"}
      }
    },
    "BatchStrategy":{
      "type":"string",
      "enum":[
        "MultiRecord",
        "SingleRecord"
      ]
    },
    "BillableTimeInSeconds":{
      "type":"integer",
      "min":1
    },
    "Boolean":{"type":"boolean"},
    "BooleanOperator":{
      "type":"string",
      "enum":[
        "And",
        "Or"
      ]
    },
    "Branch":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[^ ~^:?*\\[]+"
    },
    "CategoricalParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "Values":{"shape":"ParameterValues"}
      }
    },
    "CategoricalParameterRangeSpecification":{
      "type":"structure",
      "required":["Values"],
      "members":{
        "Values":{"shape":"ParameterValues"}
      }
    },
    "CategoricalParameterRanges":{
      "type":"list",
      "member":{"shape":"CategoricalParameterRange"},
      "max":20,
      "min":0
    },
    "Cents":{
      "type":"integer",
      "max":99,
      "min":0
    },
    "CertifyForMarketplace":{"type":"boolean"},
    "Channel":{
      "type":"structure",
      "required":[
        "ChannelName",
        "DataSource"
      ],
      "members":{
        "ChannelName":{
          "shape":"ChannelName",
          "documentation":"<p>The name of the channel. </p>"
        },
        "DataSource":{
          "shape":"DataSource",
          "documentation":"<p>The location of the channel data.</p>"
        },
        "ContentType":{
          "shape":"ContentType",
          "documentation":"<p>The MIME type of the data.</p>"
        },
        "CompressionType":{
          "shape":"CompressionType",
          "documentation":"<p>If training data is compressed, the compression type. The default value is <code>None</code>. <code>CompressionType</code> is used only in PIPE input mode. In FILE mode, leave this field unset or set it to None.</p>"
        },
        "RecordWrapperType":{
          "shape":"RecordWrapper",
          "documentation":"<p/> <p>Specify RecordIO as the value when input data is in raw format but the training algorithm requires the RecordIO format, in which caseAmazon SageMaker wraps each individual S3 object in a RecordIO record. If the input data is already in RecordIO format, you don't need to set this attribute. For more information, see <a href=\"https://mxnet.incubator.apache.org/how_to/recordio.html?highlight=im2rec\">Create a Dataset Using RecordIO</a>. </p> <p>In FILE mode, leave this field unset or set it to None.</p> <p/>"
        },
        "InputMode":{"shape":"TrainingInputMode"},
        "ShuffleConfig":{"shape":"ShuffleConfig"}
      },
      "documentation":"<p>A channel is a named input source that training algorithms can consume. </p>"
    },
    "ChannelName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9\\.\\-_]+"
    },
    "ChannelSpecification":{
      "type":"structure",
      "required":[
        "Name",
        "SupportedContentTypes",
        "SupportedInputModes"
      ],
      "members":{
        "Name":{"shape":"ChannelName"},
        "Description":{"shape":"EntityDescription"},
        "IsRequired":{"shape":"Boolean"},
        "SupportedContentTypes":{"shape":"ContentTypes"},
        "SupportedCompressionTypes":{"shape":"CompressionTypes"},
        "SupportedInputModes":{"shape":"InputModes"}
      }
    },
    "ChannelSpecifications":{
      "type":"list",
      "member":{"shape":"ChannelSpecification"},
      "max":8,
      "min":1
    },
    "CheckpointConfig":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "LocalPath":{"shape":"DirectoryPath"}
      }
    },
    "CodeRepositoryArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:code-repository/.*"
    },
    "CodeRepositoryContains":{
      "type":"string",
      "max":1024,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "CodeRepositoryNameContains":{
      "type":"string",
      "max":63,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "CodeRepositoryNameOrUrl":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^https://([^/]+)/?(.*)$|^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "CodeRepositorySortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "LastModifiedTime"
      ]
    },
    "CodeRepositorySortOrder":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "CodeRepositorySummary":{
      "type":"structure",
      "required":[
        "CodeRepositoryName",
        "CodeRepositoryArn",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"},
        "CodeRepositoryArn":{"shape":"CodeRepositoryArn"},
        "CreationTime":{"shape":"CreationTime"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "GitConfig":{"shape":"GitConfig"}
      }
    },
    "CodeRepositorySummaryList":{
      "type":"list",
      "member":{"shape":"CodeRepositorySummary"}
    },
    "CognitoClientId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+]+"
    },
    "CognitoMemberDefinition":{
      "type":"structure",
      "required":[
        "UserPool",
        "UserGroup",
        "ClientId"
      ],
      "members":{
        "UserPool":{"shape":"CognitoUserPool"},
        "UserGroup":{"shape":"CognitoUserGroup"},
        "ClientId":{"shape":"CognitoClientId"}
      }
    },
    "CognitoUserGroup":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "CognitoUserPool":{
      "type":"string",
      "max":55,
      "min":1,
      "pattern":"[\\w-]+_[0-9a-zA-Z]+"
    },
    "CompilationJobArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:compilation-job/.*"
    },
    "CompilationJobStatus":{
      "type":"string",
      "enum":[
        "INPROGRESS",
        "COMPLETED",
        "FAILED",
        "STARTING",
        "STOPPING",
        "STOPPED"
      ]
    },
    "CompilationJobSummaries":{
      "type":"list",
      "member":{"shape":"CompilationJobSummary"}
    },
    "CompilationJobSummary":{
      "type":"structure",
      "required":[
        "CompilationJobName",
        "CompilationJobArn",
        "CreationTime",
        "CompilationTargetDevice",
        "CompilationJobStatus"
      ],
      "members":{
        "CompilationJobName":{"shape":"EntityName"},
        "CompilationJobArn":{"shape":"CompilationJobArn"},
        "CreationTime":{"shape":"CreationTime"},
        "CompilationStartTime":{"shape":"Timestamp"},
        "CompilationEndTime":{"shape":"Timestamp"},
        "CompilationTargetDevice":{"shape":"TargetDevice"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "CompilationJobStatus":{"shape":"CompilationJobStatus"}
      }
    },
    "CompressionType":{
      "type":"string",
      "enum":[
        "None",
        "Gzip"
      ]
    },
    "CompressionTypes":{
      "type":"list",
      "member":{"shape":"CompressionType"}
    },
    "ContainerDefinition":{
      "type":"structure",
      "members":{
        "ContainerHostname":{
          "shape":"ContainerHostname",
          "documentation":"<p>The DNS host name for the container after Amazon SageMaker deploys it.</p>"
        },
        "Image":{
          "shape":"Image",
          "documentation":"<p>The Amazon EC2 Container Registry (Amazon ECR) path where inference code is stored. If you are using your own custom algorithm instead of an algorithm provided by Amazon SageMaker, the inference code must meet Amazon SageMaker requirements. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms.html\">Using Your Own Algorithms with Amazon SageMaker</a> </p>"
        },
        "ModelDataUrl":{
          "shape":"Url",
          "documentation":"<p>The S3 path where the model artifacts, which result from model training, are stored. This path must point to a single gzip compressed tar archive (.tar.gz suffix). </p>"
        },
        "Environment":{
          "shape":"EnvironmentMap",
          "documentation":"<p>The environment variables to set in the Docker container. Each key and value in the <code>Environment</code> string to string map can have length of up to 1024. We support up to 16 entries in the map. </p>"
        },
        "ModelPackageName":{"shape":"ArnOrName"}
      },
      "documentation":"<p>Describes the container, as part of model definition.</p>"
    },
    "ContainerDefinitionList":{
      "type":"list",
      "member":{"shape":"ContainerDefinition"},
      "max":5
    },
    "ContainerHostname":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ContentClassifier":{
      "type":"string",
      "enum":[
        "FreeOfPersonallyIdentifiableInformation",
        "FreeOfAdultContent"
      ]
    },
    "ContentClassifiers":{
      "type":"list",
      "member":{"shape":"ContentClassifier"},
      "max":256
    },
    "ContentType":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ContentTypes":{
      "type":"list",
      "member":{"shape":"ContentType"}
    },
    "ContinuousParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"},
        "ScalingType":{"shape":"HyperParameterScalingType"}
      }
    },
    "ContinuousParameterRangeSpecification":{
      "type":"structure",
      "required":[
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"}
      }
    },
    "ContinuousParameterRanges":{
      "type":"list",
      "member":{"shape":"ContinuousParameterRange"},
      "max":20,
      "min":0
    },
    "CreateAlgorithmInput":{
      "type":"structure",
      "required":[
        "AlgorithmName",
        "TrainingSpecification"
      ],
      "members":{
        "AlgorithmName":{"shape":"EntityName"},
        "AlgorithmDescription":{"shape":"EntityDescription"},
        "TrainingSpecification":{"shape":"TrainingSpecification"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "ValidationSpecification":{"shape":"AlgorithmValidationSpecification"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"}
      }
    },
    "CreateAlgorithmOutput":{
      "type":"structure",
      "required":["AlgorithmArn"],
      "members":{
        "AlgorithmArn":{"shape":"AlgorithmArn"}
      }
    },
    "CreateCodeRepositoryInput":{
      "type":"structure",
      "required":[
        "CodeRepositoryName",
        "GitConfig"
      ],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"},
        "GitConfig":{"shape":"GitConfig"}
      }
    },
    "CreateCodeRepositoryOutput":{
      "type":"structure",
      "required":["CodeRepositoryArn"],
      "members":{
        "CodeRepositoryArn":{"shape":"CodeRepositoryArn"}
      }
    },
    "CreateCompilationJobRequest":{
      "type":"structure",
      "required":[
        "CompilationJobName",
        "RoleArn",
        "InputConfig",
        "OutputConfig",
        "StoppingCondition"
      ],
      "members":{
        "CompilationJobName":{"shape":"EntityName"},
        "RoleArn":{"shape":"RoleArn"},
        "InputConfig":{"shape":"InputConfig"},
        "OutputConfig":{"shape":"OutputConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"}
      }
    },
    "CreateCompilationJobResponse":{
      "type":"structure",
      "required":["CompilationJobArn"],
      "members":{
        "CompilationJobArn":{"shape":"CompilationJobArn"}
      }
    },
    "CreateEndpointConfigInput":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "ProductionVariants"
      ],
      "members":{
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of the endpoint configuration. You specify this name in a <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html\">CreateEndpoint</a> request. </p>"
        },
        "ProductionVariants":{
          "shape":"ProductionVariantList",
          "documentation":"<p>An array of <code>ProductionVariant</code> objects, one for each model that you want to host at this endpoint.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key-value pairs. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
        },
        "KmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "CreateEndpointConfigOutput":{
      "type":"structure",
      "required":["EndpointConfigArn"],
      "members":{
        "EndpointConfigArn":{
          "shape":"EndpointConfigArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint configuration. </p>"
        }
      }
    },
    "CreateEndpointInput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointConfigName"
      ],
      "members":{
        "EndpointName":{
          "shape":"EndpointName",
          "documentation":"<p>The name of the endpoint. The name must be unique within an AWS Region in your AWS account.</p>"
        },
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of an endpoint configuration. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpointConfig.html\">CreateEndpointConfig</a>. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key-value pairs. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a>in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
        }
      }
    },
    "CreateEndpointOutput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{
          "shape":"EndpointArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint.</p>"
        }
      }
    },
    "CreateExperimentRequest":{
      "type":"structure",
      "required":["ExperimentName"],
      "members":{
        "ExperimentName":{"shape":"ExperimentEntityName"},
        "DisplayName":{"shape":"ExperimentEntityName"},
        "Description":{"shape":"ExperimentDescription"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateExperimentResponse":{
      "type":"structure",
      "members":{
        "ExperimentArn":{"shape":"ExperimentArn"}
      }
    },
    "CreateHyperParameterTuningJobRequest":{
      "type":"structure",
      "required":[
        "HyperParameterTuningJobName",
        "HyperParameterTuningJobConfig"
      ],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"},
        "HyperParameterTuningJobConfig":{"shape":"HyperParameterTuningJobConfig"},
        "TrainingJobDefinition":{"shape":"HyperParameterTrainingJobDefinition"},
        "WarmStartConfig":{"shape":"HyperParameterTuningJobWarmStartConfig"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateHyperParameterTuningJobResponse":{
      "type":"structure",
      "required":["HyperParameterTuningJobArn"],
      "members":{
        "HyperParameterTuningJobArn":{"shape":"HyperParameterTuningJobArn"}
      }
    },
    "CreateLabelingJobRequest":{
      "type":"structure",
      "required":[
        "LabelingJobName",
        "LabelAttributeName",
        "InputConfig",
        "OutputConfig",
        "RoleArn",
        "HumanTaskConfig"
      ],
      "members":{
        "LabelingJobName":{"shape":"LabelingJobName"},
        "LabelAttributeName":{"shape":"LabelAttributeName"},
        "InputConfig":{"shape":"LabelingJobInputConfig"},
        "OutputConfig":{"shape":"LabelingJobOutputConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "LabelCategoryConfigS3Uri":{"shape":"S3Uri"},
        "StoppingConditions":{"shape":"LabelingJobStoppingConditions"},
        "LabelingJobAlgorithmsConfig":{"shape":"LabelingJobAlgorithmsConfig"},
        "HumanTaskConfig":{"shape":"HumanTaskConfig"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateLabelingJobResponse":{
      "type":"structure",
      "required":["LabelingJobArn"],
      "members":{
        "LabelingJobArn":{"shape":"LabelingJobArn"}
      }
    },
    "CreateModelInput":{
      "type":"structure",
      "required":[
        "ModelName",
        "ExecutionRoleArn"
      ],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the new model.</p>"
        },
        "PrimaryContainer":{
          "shape":"ContainerDefinition",
          "documentation":"<p>The location of the primary docker image containing inference code, associated artifacts, and custom environment map that the inference code uses when the model is deployed into production. </p>"
        },
        "Containers":{"shape":"ContainerDefinitionList"},
        "ExecutionRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that Amazon SageMaker can assume to access model artifacts and docker image for deployment on ML compute instances. Deploying on ML compute instances is part of model hosting. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-roles.html\">Amazon SageMaker Roles</a>. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key-value pairs. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
        },
        "VpcConfig":{"shape":"VpcConfig"},
        "EnableNetworkIsolation":{"shape":"Boolean"}
      }
    },
    "CreateModelOutput":{
      "type":"structure",
      "required":["ModelArn"],
      "members":{
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p>The ARN of the model created in Amazon SageMaker.</p>"
        }
      }
    },
    "CreateModelPackageInput":{
      "type":"structure",
      "required":["ModelPackageName"],
      "members":{
        "ModelPackageName":{"shape":"EntityName"},
        "ModelPackageDescription":{"shape":"EntityDescription"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "ValidationSpecification":{"shape":"ModelPackageValidationSpecification"},
        "SourceAlgorithmSpecification":{"shape":"SourceAlgorithmSpecification"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"}
      }
    },
    "CreateModelPackageOutput":{
      "type":"structure",
      "required":["ModelPackageArn"],
      "members":{
        "ModelPackageArn":{"shape":"ModelPackageArn"}
      }
    },
    "CreateNotebookInstanceInput":{
      "type":"structure",
      "required":[
        "NotebookInstanceName",
        "InstanceType",
        "RoleArn"
      ],
      "members":{
        "NotebookInstanceName":{
          "shape":"NotebookInstanceName",
          "documentation":"<p>The name of the new notebook instance.</p>"
        },
        "InstanceType":{
          "shape":"InstanceType",
          "documentation":"<p>The type of ML compute instance to launch for the notebook instance.</p>"
        },
        "SubnetId":{
          "shape":"SubnetId",
          "documentation":"<p>The ID of the subnet in a VPC to which you would like to have a connectivity from your ML compute instance. </p>"
        },
        "SecurityGroupIds":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>The VPC security group IDs, in the form sg-xxxxxxxx. The security groups must be for the same VPC as specified in the subnet. </p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p> When you send any requests to AWS resources from the notebook instance, Amazon SageMaker assumes this role to perform tasks on your behalf. You must grant this role necessary permissions so Amazon SageMaker can perform these tasks. The policy must allow the Amazon SageMaker service principal (sagemaker.amazonaws.com) permissions to assume this role. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-roles.html\">Amazon SageMaker Roles</a>. </p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p> If you provide a AWS KMS key ID, Amazon SageMaker uses it to encrypt data at rest on the ML storage volume that is attached to your notebook instance. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags to associate with the notebook instance. You can add tags later by using the <code>CreateTags</code> API.</p>"
        },
        "LifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"},
        "DirectInternetAccess":{"shape":"DirectInternetAccess"},
        "VolumeSizeInGB":{"shape":"NotebookInstanceVolumeSizeInGB"},
        "AcceleratorTypes":{"shape":"NotebookInstanceAcceleratorTypes"},
        "DefaultCodeRepository":{"shape":"CodeRepositoryNameOrUrl"},
        "AdditionalCodeRepositories":{"shape":"AdditionalCodeRepositoryNamesOrUrls"},
        "RootAccess":{"shape":"RootAccess"}
      }
    },
    "CreateNotebookInstanceLifecycleConfigInput":{
      "type":"structure",
      "required":["NotebookInstanceLifecycleConfigName"],
      "members":{
        "NotebookInstanceLifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"},
        "OnCreate":{"shape":"NotebookInstanceLifecycleConfigList"},
        "OnStart":{"shape":"NotebookInstanceLifecycleConfigList"}
      }
    },
    "CreateNotebookInstanceLifecycleConfigOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceLifecycleConfigArn":{"shape":"NotebookInstanceLifecycleConfigArn"}
      }
    },
    "CreateNotebookInstanceOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceArn":{
          "shape":"NotebookInstanceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the notebook instance. </p>"
        }
      }
    },
    "CreatePresignedNotebookInstanceUrlInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{
          "shape":"NotebookInstanceName",
          "documentation":"<p>The name of the notebook instance.</p>"
        },
        "SessionExpirationDurationInSeconds":{
          "shape":"SessionExpirationDurationInSeconds",
          "documentation":"<p>The duration of the session, in seconds. The default is 12 hours.</p>"
        }
      }
    },
    "CreatePresignedNotebookInstanceUrlOutput":{
      "type":"structure",
      "members":{
        "AuthorizedUrl":{
          "shape":"NotebookInstanceUrl",
          "documentation":"<p>A JSON object that contains the URL string. </p>"
        }
      }
    },
    "CreateTrainingJobRequest":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "AlgorithmSpecification",
        "RoleArn",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members":{
        "TrainingJobName":{
          "shape":"TrainingJobName",
          "documentation":"<p>The name of the training job. The name must be unique within an AWS Region in an AWS account. It appears in the Amazon SageMaker console. </p>"
        },
        "HyperParameters":{
          "shape":"HyperParameters",
          "documentation":"<p>Algorithm-specific parameters. You set hyperparameters before you start the learning process. Hyperparameters influence the quality of the model. For a list of hyperparameters for each training algorithm provided by Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. </p> <p>You can specify a maximum of 100 hyperparameters. Each hyperparameter is a key-value pair. Each key and value is limited to 256 characters, as specified by the <code>Length Constraint</code>. </p>"
        },
        "AlgorithmSpecification":{
          "shape":"AlgorithmSpecification",
          "documentation":"<p>The registry path of the Docker image that contains the training algorithm and algorithm-specific metadata, including the input mode. For more information about algorithms provided by Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. For information about providing your own algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/adv-topics-own-algo.html\">Bring Your Own Algorithms </a>. </p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role that Amazon SageMaker can assume to perform tasks on your behalf. </p> <p>During model training, Amazon SageMaker needs your permission to read input data from an S3 bucket, download a Docker image that contains training code, write model artifacts to an S3 bucket, write logs to Amazon CloudWatch Logs, and publish metrics to Amazon CloudWatch. You grant permissions for all of these tasks to an IAM role. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-roles.html\">Amazon SageMaker Roles</a>. </p>"
        },
        "InputDataConfig":{
          "shape":"InputDataConfig",
          "documentation":"<p>An array of <code>Channel</code> objects. Each channel is a named input source. <code>InputDataConfig</code> describes the input data and its location. </p> <p>Algorithms can accept input data from one or more channels. For example, an algorithm might have two channels of input data, <code>training_data</code> and <code>validation_data</code>. The configuration for each channel provides the S3 location where the input data is stored. It also provides information about the stored data: the MIME type, compression method, and whether the data is wrapped in RecordIO format. </p> <p>Depending on the input mode that the algorithm supports, Amazon SageMaker either copies input data files from an S3 bucket to a local directory in the Docker container, or makes it available as input streams. </p>"
        },
        "OutputDataConfig":{
          "shape":"OutputDataConfig",
          "documentation":"<p>Specifies the path to the S3 bucket where you want to store model artifacts. Amazon SageMaker creates subfolders for the artifacts. </p>"
        },
        "ResourceConfig":{
          "shape":"ResourceConfig",
          "documentation":"<p>The resources, including the ML compute instances and ML storage volumes, to use for model training. </p> <p>ML storage volumes store model artifacts and incremental states. Training algorithms might also use ML storage volumes for scratch space. If you want Amazon SageMaker to use the ML storage volume to store the training data, choose <code>File</code> as the <code>TrainingInputMode</code> in the algorithm specification. For distributed training algorithms, specify an instance count greater than 1.</p>"
        },
        "VpcConfig":{"shape":"VpcConfig"},
        "StoppingCondition":{
          "shape":"StoppingCondition",
          "documentation":"<p>Sets a duration for training. Use this parameter to cap model training costs. To stop a job, Amazon SageMaker sends the algorithm the <code>SIGTERM</code> signal, which delays job termination for 120 seconds. Algorithms might use this 120-second window to save the model artifacts. </p> <p>When Amazon SageMaker terminates a job because the stopping condition has been met, training algorithms provided by Amazon SageMaker save the intermediate results of the job. This intermediate data is a valid model artifact. You can use it to create a model using the <code>CreateModel</code> API. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key-value pairs. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
        },
        "EnableNetworkIsolation":{"shape":"Boolean"},
        "EnableInterContainerTrafficEncryption":{"shape":"Boolean"},
        "EnableManagedSpotTraining":{"shape":"Boolean"},
        "CheckpointConfig":{"shape":"CheckpointConfig"}
      }
    },
    "CreateTrainingJobResponse":{
      "type":"structure",
      "required":["TrainingJobArn"],
      "members":{
        "TrainingJobArn":{
          "shape":"TrainingJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the training job.</p>"
        }
      }
    },
    "CreateTransformJobRequest":{
      "type":"structure",
      "required":[
        "TransformJobName",
        "ModelName",
        "TransformInput",
        "TransformOutput",
        "TransformResources"
      ],
      "members":{
        "TransformJobName":{"shape":"TransformJobName"},
        "ModelName":{"shape":"ModelName"},
        "MaxConcurrentTransforms":{"shape":"MaxConcurrentTransforms"},
        "MaxPayloadInMB":{"shape":"MaxPayloadInMB"},
        "BatchStrategy":{"shape":"BatchStrategy"},
        "Environment":{"shape":"TransformEnvironmentMap"},
        "TransformInput":{"shape":"TransformInput"},
        "TransformOutput":{"shape":"TransformOutput"},
        "TransformResources":{"shape":"TransformResources"},
        "DataProcessing":{"shape":"DataProcessing"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateTransformJobResponse":{
      "type":"structure",
      "required":["TransformJobArn"],
      "members":{
        "TransformJobArn":{"shape":"TransformJobArn"}
      }
    },
    "CreateTrialComponentRequest":{
      "type":"structure",
      "required":["TrialComponentName"],
      "members":{
        "TrialComponentName":{"shape":"ExperimentEntityName"},
        "DisplayName":{"shape":"ExperimentEntityName"},
        "Status":{"shape":"TrialComponentStatus"},
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "Parameters":{"shape":"TrialComponentParameters"},
        "InputArtifacts":{"shape":"TrialComponentArtifacts"},
        "OutputArtifacts":{"shape":"TrialComponentArtifacts"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateTrialComponentResponse":{
      "type":"structure",
      "members":{
        "TrialComponentArn":{"shape":"TrialComponentArn"}
      }
    },
    "CreateTrialRequest":{
      "type":"structure",
      "required":[
        "TrialName",
        "ExperimentName"
      ],
      "members":{
        "TrialName":{"shape":"ExperimentEntityName"},
        "DisplayName":{"shape":"ExperimentEntityName"},
        "ExperimentName":{"shape":"ExperimentEntityName"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateTrialResponse":{
      "type":"structure",
      "members":{
        "TrialArn":{"shape":"TrialArn"}
      }
    },
    "CreateWorkteamRequest":{
      "type":"structure",
      "required":[
        "WorkteamName",
        "MemberDefinitions",
        "Description"
      ],
      "members":{
        "WorkteamName":{"shape":"WorkteamName"},
        "MemberDefinitions":{"shape":"MemberDefinitions"},
        "Description":{"shape":"String200"},
        "NotificationConfiguration":{"shape":"NotificationConfiguration"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateWorkteamResponse":{
      "type":"structure",
      "members":{
        "WorkteamArn":{"shape":"WorkteamArn"}
      }
    },
    "CreationTime":{"type":"timestamp"},
    "DataInputConfig":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\S\\s]+"
    },
    "DataProcessing":{
      "type":"structure",
      "members":{
        "InputFilter":{"shape":"JsonPath"},
        "OutputFilter":{"shape":"JsonPath"},
        "JoinSource":{"shape":"JoinSource"}
      }
    },
    "DataSource":{
      "type":"structure",
      "members":{
        "S3DataSource":{
          "shape":"S3DataSource",
          "documentation":"<p>The S3 location of the data source that is associated with a channel.</p>"
        },
        "FileSystemDataSource":{"shape":"FileSystemDataSource"}
      },
      "documentation":"<p>Describes the location of the channel data.</p>"
    },
    "DeleteAlgorithmInput":{
      "type":"structure",
      "required":["AlgorithmName"],
      "members":{
        "AlgorithmName":{"shape":"EntityName"}
      }
    },
    "DeleteCodeRepositoryInput":{
      "type":"structure",
      "required":["CodeRepositoryName"],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"}
      }
    },
    "DeleteEndpointConfigInput":{
      "type":"structure",
      "required":["EndpointConfigName"],
      "members":{
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of the endpoint configuration that you want to delete.</p>"
        }
      }
    },
    "DeleteEndpointInput":{
      "type":"structure",
      "required":["EndpointName"],
      "members":{
        "EndpointName":{
          "shape":"EndpointName",
          "documentation":"<p>The name of the endpoint that you want to delete.</p>"
        }
      }
    },
    "DeleteExperimentRequest":{
      "type":"structure",
      "required":["ExperimentName"],
      "members":{
        "ExperimentName":{"shape":"ExperimentEntityName"}
      }
    },
    "DeleteExperimentResponse":{
      "type":"structure",
      "members":{
        "ExperimentArn":{"shape":"ExperimentArn"}
      }
    },
    "DeleteModelInput":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the model to delete.</p>"
        }
      }
    },
    "DeleteModelPackageInput":{
      "type":"structure",
      "required":["ModelPackageName"],
      "members":{
        "ModelPackageName":{"shape":"EntityName"}
      }
    },
    "DeleteNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{
          "shape":"NotebookInstanceName",
          "documentation":"<p>The name of the Amazon SageMaker notebook instance to delete.</p>"
        }
      }
    },
    "DeleteNotebookInstanceLifecycleConfigInput":{
      "type":"structure",
      "required":["NotebookInstanceLifecycleConfigName"],
      "members":{
        "NotebookInstanceLifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"}
      }
    },
    "DeleteTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource whose tags you want to delete.</p>"
        },
        "TagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>An array or one or more tag keys to delete.</p>"
        }
      }
    },
    "DeleteTagsOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteTrialComponentRequest":{
      "type":"structure",
      "required":["TrialComponentName"],
      "members":{
        "TrialComponentName":{"shape":"ExperimentEntityName"}
      }
    },
    "DeleteTrialComponentResponse":{
      "type":"structure",
      "members":{
        "TrialComponentArn":{"shape":"TrialComponentArn"}
      }
    },
    "DeleteTrialRequest":{
      "type":"structure",
      "required":["TrialName"],
      "members":{
        "TrialName":{"shape":"ExperimentEntityName"}
      }
    },
    "DeleteTrialResponse":{
      "type":"structure",
      "members":{
        "TrialArn":{"shape":"TrialArn"}
      }
    },
    "DeleteWorkteamRequest":{
      "type":"structure",
      "required":["WorkteamName"],
      "members":{
        "WorkteamName":{"shape":"WorkteamName"}
      }
    },
    "DeleteWorkteamResponse":{
      "type":"structure",
      "required":["Success"],
      "members":{
        "Success":{"shape":"Success"}
      }
    },
    "DeployedImage":{
      "type":"structure",
      "members":{
        "SpecifiedImage":{"shape":"Image"},
        "ResolvedImage":{"shape":"Image"},
        "ResolutionTime":{"shape":"Timestamp"}
      }
    },
    "DeployedImages":{
      "type":"list",
      "member":{"shape":"DeployedImage"}
    },
    "DescribeAlgorithmInput":{
      "type":"structure",
      "required":["AlgorithmName"],
      "members":{
        "AlgorithmName":{"shape":"ArnOrName"}
      }
    },
    "DescribeAlgorithmOutput":{
      "type":"structure",
      "required":[
        "AlgorithmName",
        "AlgorithmArn",
        "CreationTime",
        "TrainingSpecification",
        "AlgorithmStatus",
        "AlgorithmStatusDetails"
      ],
      "members":{
        "AlgorithmName":{"shape":"EntityName"},
        "AlgorithmArn":{"shape":"AlgorithmArn"},
        "AlgorithmDescription":{"shape":"EntityDescription"},
        "CreationTime":{"shape":"CreationTime"},
        "TrainingSpecification":{"shape":"TrainingSpecification"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "ValidationSpecification":{"shape":"AlgorithmValidationSpecification"},
        "AlgorithmStatus":{"shape":"AlgorithmStatus"},
        "AlgorithmStatusDetails":{"shape":"AlgorithmStatusDetails"},
        "ProductId":{"shape":"ProductId"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"}
      }
    },
    "DescribeCodeRepositoryInput":{
      "type":"structure",
      "required":["CodeRepositoryName"],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"}
      }
    },
    "DescribeCodeRepositoryOutput":{
      "type":"structure",
      "required":[
        "CodeRepositoryName",
        "CodeRepositoryArn",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"},
        "CodeRepositoryArn":{"shape":"CodeRepositoryArn"},
        "CreationTime":{"shape":"CreationTime"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "GitConfig":{"shape":"GitConfig"}
      }
    },
    "DescribeCompilationJobRequest":{
      "type":"structure",
      "required":["CompilationJobName"],
      "members":{
        "CompilationJobName":{"shape":"EntityName"}
      }
    },
    "DescribeCompilationJobResponse":{
      "type":"structure",
      "required":[
        "CompilationJobName",
        "CompilationJobArn",
        "CompilationJobStatus",
        "StoppingCondition",
        "CreationTime",
        "LastModifiedTime",
        "FailureReason",
        "ModelArtifacts",
        "RoleArn",
        "InputConfig",
        "OutputConfig"
      ],
      "members":{
        "CompilationJobName":{"shape":"EntityName"},
        "CompilationJobArn":{"shape":"CompilationJobArn"},
        "CompilationJobStatus":{"shape":"CompilationJobStatus"},
        "CompilationStartTime":{"shape":"Timestamp"},
        "CompilationEndTime":{"shape":"Timestamp"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "CreationTime":{"shape":"CreationTime"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "FailureReason":{"shape":"FailureReason"},
        "ModelArtifacts":{"shape":"ModelArtifacts"},
        "RoleArn":{"shape":"RoleArn"},
        "InputConfig":{"shape":"InputConfig"},
        "OutputConfig":{"shape":"OutputConfig"}
      }
    },
    "DescribeEndpointConfigInput":{
      "type":"structure",
      "required":["EndpointConfigName"],
      "members":{
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of the endpoint configuration.</p>"
        }
      }
    },
    "DescribeEndpointConfigOutput":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "EndpointConfigArn",
        "ProductionVariants",
        "CreationTime"
      ],
      "members":{
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>Name of the Amazon SageMaker endpoint configuration.</p>"
        },
        "EndpointConfigArn":{
          "shape":"EndpointConfigArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint configuration.</p>"
        },
        "ProductionVariants":{
          "shape":"ProductionVariantList",
          "documentation":"<p>An array of <code>ProductionVariant</code> objects, one for each model that you want to host at this endpoint.</p>"
        },
        "KmsKeyId":{"shape":"KmsKeyId"},
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the endpoint configuration was created.</p>"
        }
      }
    },
    "DescribeEndpointInput":{
      "type":"structure",
      "required":["EndpointName"],
      "members":{
        "EndpointName":{
          "shape":"EndpointName",
          "documentation":"<p>The name of the endpoint.</p>"
        }
      }
    },
    "DescribeEndpointOutput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointArn",
        "EndpointConfigName",
        "EndpointStatus",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "EndpointName":{
          "shape":"EndpointName",
          "documentation":"<p>Name of the endpoint.</p>"
        },
        "EndpointArn":{
          "shape":"EndpointArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint.</p>"
        },
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of the endpoint configuration associated with this endpoint.</p>"
        },
        "ProductionVariants":{
          "shape":"ProductionVariantSummaryList",
          "documentation":"<p> An array of ProductionVariant objects, one for each model hosted behind this endpoint. </p>"
        },
        "EndpointStatus":{
          "shape":"EndpointStatus",
          "documentation":"<p>The status of the endpoint.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the status of the endpoint is <code>Failed</code>, the reason why it failed. </p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the endpoint was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the endpoint was last modified.</p>"
        }
      }
    },
    "DescribeExperimentRequest":{
      "type":"structure",
      "required":["ExperimentName"],
      "members":{
        "ExperimentName":{"shape":"ExperimentEntityName"}
      }
    },
    "DescribeExperimentResponse":{
      "type":"structure",
      "members":{
        "ExperimentName":{"shape":"ExperimentEntityName"},
        "ExperimentArn":{"shape":"ExperimentArn"},
        "DisplayName":{"shape":"ExperimentEntityName"},
        "Source":{"shape":"ExperimentSource"},
        "Description":{"shape":"ExperimentDescription"},
        "CreationTime":{"shape":"Timestamp"},
        "CreatedBy":{"shape":"UserContext"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "LastModifiedBy":{"shape":"UserContext"}
      }
    },
    "DescribeHyperParameterTuningJobRequest":{
      "type":"structure",
      "required":["HyperParameterTuningJobName"],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"}
      }
    },
    "DescribeHyperParameterTuningJobResponse":{
      "type":"structure",
      "required":[
        "HyperParameterTuningJobName",
        "HyperParameterTuningJobArn",
        "HyperParameterTuningJobConfig",
        "HyperParameterTuningJobStatus",
        "CreationTime",
        "TrainingJobStatusCounters",
        "ObjectiveStatusCounters"
      ],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"},
        "HyperParameterTuningJobArn":{"shape":"HyperParameterTuningJobArn"},
        "HyperParameterTuningJobConfig":{"shape":"HyperParameterTuningJobConfig"},
        "TrainingJobDefinition":{"shape":"HyperParameterTrainingJobDefinition"},
        "HyperParameterTuningJobStatus":{"shape":"HyperParameterTuningJobStatus"},
        "CreationTime":{"shape":"Timestamp"},
        "HyperParameterTuningEndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "TrainingJobStatusCounters":{"shape":"TrainingJobStatusCounters"},
        "ObjectiveStatusCounters":{"shape":"ObjectiveStatusCounters"},
        "BestTrainingJob":{"shape":"HyperParameterTrainingJobSummary"},
        "OverallBestTrainingJob":{"shape":"HyperParameterTrainingJobSummary"},
        "WarmStartConfig":{"shape":"HyperParameterTuningJobWarmStartConfig"},
        "FailureReason":{"shape":"FailureReason"}
      }
    },
    "DescribeLabelingJobRequest":{
      "type":"structure",
      "required":["LabelingJobName"],
      "members":{
        "LabelingJobName":{"shape":"LabelingJobName"}
      }
    },
    "DescribeLabelingJobResponse":{
      "type":"structure",
      "required":[
        "LabelingJobStatus",
        "LabelCounters",
        "CreationTime",
        "LastModifiedTime",
        "JobReferenceCode",
        "LabelingJobName",
        "LabelingJobArn",
        "InputConfig",
        "OutputConfig",
        "RoleArn",
        "HumanTaskConfig"
      ],
      "members":{
        "LabelingJobStatus":{"shape":"LabelingJobStatus"},
        "LabelCounters":{"shape":"LabelCounters"},
        "FailureReason":{"shape":"FailureReason"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "JobReferenceCode":{"shape":"JobReferenceCode"},
        "LabelingJobName":{"shape":"LabelingJobName"},
        "LabelingJobArn":{"shape":"LabelingJobArn"},
        "LabelAttributeName":{"shape":"LabelAttributeName"},
        "InputConfig":{"shape":"LabelingJobInputConfig"},
        "OutputConfig":{"shape":"LabelingJobOutputConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "LabelCategoryConfigS3Uri":{"shape":"S3Uri"},
        "StoppingConditions":{"shape":"LabelingJobStoppingConditions"},
        "LabelingJobAlgorithmsConfig":{"shape":"LabelingJobAlgorithmsConfig"},
        "HumanTaskConfig":{"shape":"HumanTaskConfig"},
        "Tags":{"shape":"TagList"},
        "LabelingJobOutput":{"shape":"LabelingJobOutput"}
      }
    },
    "DescribeModelInput":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the model.</p>"
        }
      }
    },
    "DescribeModelOutput":{
      "type":"structure",
      "required":[
        "ModelName",
        "ExecutionRoleArn",
        "CreationTime",
        "ModelArn"
      ],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>Name of the Amazon SageMaker model.</p>"
        },
        "PrimaryContainer":{
          "shape":"ContainerDefinition",
          "documentation":"<p>The location of the primary inference code, associated artifacts, and custom environment map that the inference code uses when it is deployed in production. </p>"
        },
        "Containers":{"shape":"ContainerDefinitionList"},
        "ExecutionRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the model.</p>"
        },
        "VpcConfig":{"shape":"VpcConfig"},
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the model was created.</p>"
        },
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the model.</p>"
        },
        "EnableNetworkIsolation":{"shape":"Boolean"}
      }
    },
    "DescribeModelPackageInput":{
      "type":"structure",
      "required":["ModelPackageName"],
      "members":{
        "ModelPackageName":{"shape":"ArnOrName"}
      }
    },
    "DescribeModelPackageOutput":{
      "type":"structure",
      "required":[
        "ModelPackageName",
        "ModelPackageArn",
        "CreationTime",
        "ModelPackageStatus",
        "ModelPackageStatusDetails"
      ],
      "members":{
        "ModelPackageName":{"shape":"EntityName"},
        "ModelPackageArn":{"shape":"ModelPackageArn"},
        "ModelPackageDescription":{"shape":"EntityDescription"},
        "CreationTime":{"shape":"CreationTime"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "SourceAlgorithmSpecification":{"shape":"SourceAlgorithmSpecification"},
        "ValidationSpecification":{"shape":"ModelPackageValidationSpecification"},
        "ModelPackageStatus":{"shape":"ModelPackageStatus"},
        "ModelPackageStatusDetails":{"shape":"ModelPackageStatusDetails"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"}
      }
    },
    "DescribeNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{
          "shape":"NotebookInstanceName",
          "documentation":"<p>The name of the notebook instance that you want information about.</p>"
        }
      }
    },
    "DescribeNotebookInstanceLifecycleConfigInput":{
      "type":"structure",
      "required":["NotebookInstanceLifecycleConfigName"],
      "members":{
        "NotebookInstanceLifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"}
      }
    },
    "DescribeNotebookInstanceLifecycleConfigOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceLifecycleConfigArn":{"shape":"NotebookInstanceLifecycleConfigArn"},
        "NotebookInstanceLifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"},
        "OnCreate":{"shape":"NotebookInstanceLifecycleConfigList"},
        "OnStart":{"shape":"NotebookInstanceLifecycleConfigList"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "CreationTime":{"shape":"CreationTime"}
      }
    },
    "DescribeNotebookInstanceOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceArn":{
          "shape":"NotebookInstanceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the notebook instance.</p>"
        },
[...]
